In [1]:
""" Q1. Write a program to reverse a string. """

' Q1. Write a program to reverse a string. '

In [ ]:
S = "abcd"
print(S[::-1])

dcba

In [3]:
"""
Q2. Check if a string is a palindrome
"""

'\nQ2. Check if a string is a palindrome\n'

In [ ]:
s1 = "asdfdsa"
def palindrome(a):
    if a == a[::-1]:
        print("Given string  is a palindrome")
        return True
    else:
        print("Given String is not a palindrime")
        return False

Given string  is a palindrome

'asdfdsa'

In [12]:
palindrome(s1)

Given string  is a palindrome

True

In [11]:
palindrome("vsij")

Given String is not a palindrime

False

In [13]:
"""
Q3 Convert a string to uppercase
"""

'\nQ3 Convert a string to uppercase\n'

In [14]:
s2 = "dsvnalk"
print("Given String in upper case is : " ,s2.upper())

Given String in upper case is :  DSVNALK

In [15]:
"""
Q4 Convert a string to lowercase
"""

'\nQ4 Convert a string to lowercase\n'

In [16]:
s3 = "DFBSIUJ"
print("Given String in lowercase is : ",s3.lower())

Given String in lowercase is :  dfbsiuj

In [17]:
"""
5. Count the number of vowels in a string.
"""

'\n5. Count the number of vowels in a string.\n'

In [18]:
vowel = ['a','e','i','o','u','A','E','I','O','U']
s4 = "Let'sCheckForVowels"
count = 0
for i in s4:
    if i in vowel:
        count+=1
print("Total number of vowels in given string is ",count)

Total number of vowels in given string is  5

In [26]:
"""
6. Count the number of consonants in a string
"""

'\n6. Count the number of consonants in a string\n'

In [27]:
vowel = ['a','e','i','o','u','A','E','I','O','U']
string = "Let'sCheckForVowels"
count=0
for i in string:
    if i.isalpha() and i not in vowel:
        count+=1
print("Total number of consonants in given string is ",count)

Total number of consonants in given string is  13

In [19]:
"""
7. Remove all whitespaces from a string
"""

'\n7. Remove all whitespaces from a string\n'

In [20]:
s5 = "  Remove white spaces"

words = s5.split()
newString= ""
for i in words:
    newString+=i
print("String without whitespaces is : ",newString)

String without whitespaces is :  Removewhitespaces

In [25]:
""" Length fuction is used just to show the comparision"""

s5 = "  remove"
print("Length of original String",len(s5))

words = s5.split()
newString= ""
for i in words:
    newString+=i
print("String without whitespaces is : ",newString)
print("Length of String after space removal",len(newString))

Length of original String 8
String without whitespaces is :  remove
Length of String after space removal 6

In [28]:
"""
8. Find the length of a string without using the `len()` function
"""
string1 = "FindLength"
length=0
for i in string1:
    length+=1
print("Length of the given String is ",length)

Length of the given String is  10

In [29]:
"""
9. Check if a string contains a specific word.
"""

'\n9. Check if a string contains a specific word.\n'

In [33]:
String = "FindEmbeddedWord"
if "bejnd" in String:
    print("Word Found")
else:
    print("Word not Found")

Word not Found

In [34]:
"""
10. Replace a word in a string with another word.
"""

'\n10. Replace a word in a string with another word.\n'

In [4]:
string = "Replacing a word with another word"
string2 = string.replace("with","to")
print("Original string : ")
print(string)
print("Modified string : ")
print(string2)

Original string :
Replacing a word with another word
Modified string :
Replacing a word to another word

In [5]:
"""
11. Count the occurrences of a word in a string.
"""
s1 = "one two three four two three three three one two"
print("Number of occurences of 'two' in the given string is : ",s1.count("two"))

Number of occurences of 'two' in the given string is :  3

In [7]:
"""
12. Find the first occurrence of a word in a string.
"""
s1 = "one two three four two three three three one two"
idx = s1.find("four")
print("First occurence of 'four' in given string is at index ",idx)

First occurence of 'four' in given string is at index  14

In [8]:
"""
13. Find the last occurrence of a word in a string.
"""
s1 = "one two three four two three three three one two"
idx = s1.rfind("one")
print("Last occurence of 'one' in given string is at index",idx)

Last occurence of 'one' in given string is at index 41

In [11]:
"""
14. Split a string into a list of words.
"""

s1 = "This is a String"
l1 = s1.split()
print(l1)

['This', 'is', 'a', 'String']

In [12]:
"""
15. Join a list of words into a string.
"""
s=""
l1 = ["This", " is"," a"," list"," of"," words"]
for i in l1:
    s+=i
print(s)

This is a list of words

In [13]:
"""
16. Convert a string where words are separated by spaces to one where words
are separated by underscores.
"""

s= "This is an example of string"
s2 = s.replace(" ","_")
print(s2)

This_is_an_example_of_string

In [15]:
"""
17. Check if a string starts with a specific word or phrase.
"""

s="Check if given string starts with a word"
if s.startswith("Check"):
    print("True")
else:
    print("False")

True

In [16]:
"""
18. Check if a string ends with a specific word or phrase.
"""

s="Check if given string starts with a word"
if s.endswith("word"):
    print("true")
else:
    print("false")

true

In [1]:
"""
19. Convert a string to title case (e.g., "hello world" to "Hello World").
"""

S = "this is an example string"
s= S.title()
print("Old String : ")
print(S)
print("Modified String : ")
print(s)

Old String :
this is an example string
Modified String :
This Is An Example String

In [19]:
"""
20. Find the longest word in a string.
"""

s= "Let us take an example string"
l = s.split()
m = l[0]
for i in l:
    if len(i) > len(m):
        m = i
print("Longest word in given string is : ",m)

Longest word in given string is :  example

In [20]:
"""
21. Find the shortest word in a string.
"""

s= "Let us take an example string"
l = s.split()
m = l[0]
for i in l:
    if len(i) < len(m):
        m = i
print("Shortest word in given string is : ",m)

Shortest word in given string is :  us

In [4]:
"""
22. Reverse the order of words in a string.
"""
s= "Let us take an example string"

l = s.split()

new_string = " ".join(l[::-1])

print(new_string)

string example an take us Let

In [8]:
"""
23. Check if a string is alphanumeric.
"""

s = "dnfb254xfv"
s2 = "jdbfjk"
s3 = "15725"

s4 = "jdos 234"
print(s.isalnum())

print(s2.isalnum())

print(s3.isalnum())

print(s4.isalnum())

True
True
True
False

In [9]:
"""
24. Extract all digits from a string.
"""

s = "kjdnvilkq4tw56324n5lk462n5"
ans =""
for i in s:
    if i.isdigit():
        ans +=i
print(ans)

45632454625

In [10]:
"""
25. Extract all alphabets from a string.
"""
s = "kjdnvilkq4tw56324n5lk462n5"
ans = ""
for i in s:
    if i.isalpha():
        ans+=i
print(ans)

kjdnvilkqtwnlkn

In [11]:
"""
26. Count the number of uppercase letters in a string.
"""

s = "MHZmbdsjnDHBS"

count = 0;
for i in s:
    if i.isupper():
        count+=1
print(count)

7

In [12]:
"""
.
27. Count the number of lowercase letters in a string.
"""
s = "MHZmbdsjnDHBS"
count = 0;
for i in s:
    if i.islower():
        count+=1
print(count)

6

In [13]:
"""
28. Swap the case of each character in a string.
"""

s = "MHZmbdsjnDHBS"
newString = s.swapcase()

print("Original string : ",s)
print( "new String : ",newString)

Original string :  MHZmbdsjnDHBS
new String :  mhzMBDSJNdhbs

In [17]:
"""
29. Remove a specific word from a string.
"""
def remove_word(string,word):
    i = string.find(word)
    s = string[:i]+string[i+len(word):]
    return s
    
s = "Find a specific word"
print(remove_word(s,'specific'))

Find a  word

In [6]:
"""
30. Check if a string is a valid email address.
"""
import re
def valid_email(mail):
    p = r"[a-zA-Z0-9]+@[a-zA-Z0-9]+\.+[a-zA-Z0-9]+$"
    return bool(re.match(p,mail))

In [12]:
a = "abcd@gmail.com"
print(valid_email(a))

b = "abcda@gmail@.com"
print(valid_email(b))

True
False

In [13]:
"""
31. Extract the username from an email address string.
"""

email = "example@gmail.com"
l = email.split("@")
username = l[0]
print(username)

example

In [14]:
"""
32. Extract the domain name from an email address string.
"""

email = "example@gmail.com"
l = email.split("@")
domain_name = l[1];
print(domain_name)

gmail.com

In [20]:
"""
33. Replace multiple spaces in a string with a single space.
"""

s = "This   is an    example"
l = s.split()
a1 = " ".join(l)
print("original string : " ,s)
print("modified string : ",a1)

original string :  This   is an    example
modified string :  This is an example

In [6]:
"""
34. Check if a string is a valid URL.
"""
from urllib.parse import urlparse

def check_url(url):
    res = urlparse(url)
    return res.scheme and res.netloc

url = "https://green-waitress-crfut.pwskills.app/lab/tree/work"
ans = check_url(url)
if(len(ans) == 0):
    print("url is not valid")
else:
    print("valid url")

valid url

In [7]:
"""
35. Extract the protocol (http or https) from a URL string.

"""
url = "https://green-waitress-crfut.pwskills.app/lab/tree/work"
print(urlparse(url).scheme)

https

In [17]:
"""
36. Find the frequency of each character in a string.
"""
s = "abcdacbeadg"
set1 = set()
for i in s:
    set1.add(i)
for i in set1:
    print("Frequency of ",i," is ",s.count(i))

Frequency of  a  is  3
Frequency of  d  is  2
Frequency of  e  is  1
Frequency of  c  is  2
Frequency of  g  is  1
Frequency of  b  is  2

In [4]:
"""
37. Remove all punctuation from a string.
"""
import string
pun = string.punctuation
s = "Hello! How's it going? This is an example string, full of punctuations!!! Isn't it fun?"
s1=""
# print(pun)
for i in s:
    if i not in pun:
        s1+=i;
print(s1)

Hello Hows it going This is an example string full of punctuations Isnt it fun

In [5]:
"""
38. Check if a string contains only digits.
"""
s = "dfbh235"
s1 = "23513"
s2 = "dfsk"

print(s.isdigit())
print(s1.isdigit())
print(s2.isdigit())

False
True
False

In [7]:
"""
39. Check if a string contains only alphabets.
"""
s = "dfbh235"
s1 = "23513"
s2 = "dfsk"

print(s.isalpha())
print(s1.isalpha())
print(s2.isalpha())

False
False
True

In [9]:
"""
40. Convert a string to a list of characters.
"""

s = "dummystring"

l=[]
for i in s:
    l.append(i)
print(l)

['d', 'u', 'm', 'm', 'y', 's', 't', 'r', 'i', 'n', 'g']

In [9]:
"""
41. Check if two strings are anagrams.
"""

s1 = "tea"
s2 = "eat"

s3 = "tear"

print(sorted(s1) == sorted(s2))

print(sorted(s1) == sorted(s3))

True
False

In [34]:
"""
42. Encode a string using a Caesar cipher.
"""

def caesar_encode(string,key):
    ans = ""
    
    for i in string:
        if i.isdigit() or i.isspace() :
            ans+=i
            continue
        up = i.isupper()
        if up:
            start = 'A'
        else:
            start = 'a'
        idx = ord(i) - ord(start)
        shift = idx + key 
        char = shift %26
        ans += chr(char + ord(start))
    return ans

print(caesar_encode("15 August",2))
print(caesar_encode("abcxyz",3))

15 Cwiwuv
defabc

In [37]:
"""
43. Decode a Caesar cipher encoded string.
"""
def caesar_decode(string,key):
    ans = ""
    
    for i in string:
        if i.isdigit() or i.isspace() :
            ans+=i
            continue
        up = i.isupper()
        if up:
            start = 'A'
        else:
            start = 'a'
        idx = ord(i) - ord(start)
        shift = idx - key 
        char = shift %26
        ans += chr(char + ord(start))
    return ans

print(caesar_decode("15 Cwiwuv",2))
print(caesar_decode("defabc",3))

15 August
abcxyz

In [5]:
"""
44. Find the most frequent word in a string.
"""

s = "Hello world! This world is beautiful. This is true."
p = string.punctuation
n = ""
for i in s:
    if i not in p:
        n += i
l = n.split()

freq = l[0];

for i in l:
    if l.count(i) > l.count(freq):
        freq = i
print("Most frequent word : ",freq)

Most frequent word :  world

In [9]:
"""
45. Find all unique words in a string.
"""
s = "Hello world, hello Python world! Python is powerful."
p = string.punctuation
n = ""
for i in s:
    if i not in p:
        n += i
l = n.split()
l = [i.lower() for i in l] 
unique = set(l)
print("Unique word in given string")
print(unique)

Unique word in given string
{'python', 'hello', 'is', 'powerful', 'world'}

In [4]:
"""
46. Count the number of syllables in a string.
"""
def syllable(word):
    vowel = "AEIOUYaeioy"
    prev = ""
    count=0
    for i in word:
        if i in vowel and prev not in vowel:
            count+=1
        prev = i
        if word.endswith(('e','E')) and count >1:
            count-=1
    return count




s = "syllable counting in python"

l = s.split()
count = 0
for i in l:
    count+=syllable(i)

    
print("Number of syllable : ",count)

Number of syllable :  5

In [11]:
"""
47. Check if a string contains any special characters.
"""

def check_special(s):
    for i in s:
        if not i.isalnum() and not i.isspace():
            return True
    return False

s = "checking special characters "
s2 = "vnfskj#$%jdfk"

print(check_special(s))
print(check_special(s2))

False
True

In [6]:
"""
48. Remove the nth word from a string.
"""
def remove_word(string,position):
    
    l = string.split()
    if position <= len(l) and position >= 0:
        l.pop(position-1)
        ans = " ".join(l)
        return ans
    else:
        return string
s = "removing nth word from string"

new_string = remove_word(s,3)
print(new_string)

removing nth from string

In [5]:
"""
49. Insert a word at the nth position in a string.
"""

def insert_word(string,position,new_word):
    
    l = string.split()
    
    l.insert(position-1,new_word)
    ans = " ".join(l)
    return ans
s = "inserting a word at nth position"
new_string  = insert_word(s,2,"new_word")
print(new_string)

inserting new_word a word at nth position

In [8]:
"""
50. Convert a CSV string to a list of lists.
"""

csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"

l = csv_string.split('\n')

ll = [i.split(',') for i in l]

print(ll)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

In [ ]:
"""
List Based Practice Problem :
"""

In [1]:
"""
1. Create a list with integers from 1 to 10.
"""
l = [i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
"""
2. Find the length of a list without using the `len()` function.
"""
l = [3,4,2,5,6,6,8,9,6]
length = 0
for i in l:
    length+=1;

print("Length of the given list is : ",length)

Length of the given list is :  9

In [5]:
"""
3. Append an element to the end of a list.
"""

l = [3,53,2,52]
l.append(0)

print(l)

[3, 53, 2, 52, 0]

In [7]:
"""
4. Insert an element at a specific index in a list.
"""

l = [2,4,5,26,7]

l.insert(3,1) #3 is index and 1 is element to be inserted
print(l)

[2, 4, 5, 1, 26, 7]

In [8]:
"""
5. Remove an element from a list by its value.
"""

l = [23,52,42,67,4]

l.remove(42)

print(l)

[23, 52, 67, 4]

In [9]:
"""
6. Remove an element from a list by its index.
"""

l = [34,2,1,4,5]
l.pop(2)

print(l)

[34, 2, 4, 5]

In [11]:
"""
7. Check if an element exists in a list.
"""

l = [33,5,43,4,56,6]

print(33 in l)
print(77 in l)

True
False

In [12]:
"""
8. Find the index of the first occurrence of an element in a list.
"""

l = [23,52,30,45,2,34,12,31]

for i in range(len(l)):
    if l[i] == 2:
        print("2 found at index ",i)
        break

2 found at index  4

In [13]:
"""
9. Count the occurrences of an element in a list.
"""

l = [2,4,5,6,3,32,5,9,2,4,2,6,7,7,32]

print(l.count(2))

3

In [14]:
"""
10. Reverse the order of elements in a list.
"""

l = [23,52,30,45,2,34,12,31]

l.reverse()
print(l)

[31, 12, 34, 2, 45, 30, 52, 23]

In [15]:
"""
11. Sort a list in ascending order.
"""

l = [23,52,30,45,2,34,12,31]

l.sort()
print(l)

[2, 12, 23, 30, 31, 34, 45, 52]

In [17]:
"""
12. Sort a list in descending order.
"""

l = [23,52,30,45,2,34,12,31]
l.sort(reverse = True)
print(l)

[52, 45, 34, 31, 30, 23, 12, 2]

In [21]:
"""
13. Create a list of even numbers from 1 to 20.
"""

l = [i  for i in range(1,21) if i%2 == 0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
"""
14. Create a list of odd numbers from 1 to 20.
"""

l = [ i for i in range(1,21) if i %2 != 0]

print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [24]:
"""
15. Find the sum of all elements in a list.
"""
l = [23,52,30,45,2,34,12,31]

s = sum(l)
print(s)

229

In [25]:
"""
16. Find the maximum value in a list.
"""

l = [23,52,30,45,2,34,12,31]

print(max(l))

52

In [26]:
"""
17. Find the minimum value in a list.
"""

l = [23,52,30,45,2,34,12,31]
print(min(l))

2

In [27]:
"""
18. Create a list of squares of numbers from 1 to 10.
"""

l = [i**2 for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
"""
19. Create a list of random numbers.
"""

import random
l = [random.randint(1,50) for i in range(11)]
print(l)

[20, 6, 27, 32, 27, 32, 7, 37, 7, 25, 44]

In [30]:
"""
20. Remove duplicates from a list.
"""

l = [2,4,5,6,3,32,5,9,2,4,2,6,7,7,32]

s = set(l)
l1 = list(s)
print("original list : ",l)
print("Modified list : ",l1)

original list :  [2, 4, 5, 6, 3, 32, 5, 9, 2, 4, 2, 6, 7, 7, 32]
Modified list :  [32, 2, 3, 4, 5, 6, 7, 9]

In [33]:
"""
21. Find the common elements between two lists.
"""
l1 = [32, 2, 3, 4, 5, 6, 7, 9]
l2 = [23,52,30,4,2,34,12,3]

common_list = list(set([ i for i in l1 if i in l2]))
print(common_list)

[2, 3, 4]

In [34]:
"""
22. Find the difference between two lists.
"""

l1 = [32, 2, 3, 4, 5, 6, 7, 9]
l2 = [23,52,30,4,2,34,12,3]

diff = list(set(l1) - set(l2))
print(diff)

[32, 5, 6, 7, 9]

In [35]:
"""
23. Merge two lists.
"""
l1 = [32, 2, 3, 4, 5, 6, 7, 9]
l2 = [23,52,30,4,2,34,12,3]

l = l1+l2
print(l)

[32, 2, 3, 4, 5, 6, 7, 9, 23, 52, 30, 4, 2, 34, 12, 3]

In [36]:
"""
24. Multiply all elements in a list by 2.
"""

l2 = [23,52,30,4,2,34,12,3]
l2 = [i *2 for i in l2]
print(l2)

[46, 104, 60, 8, 4, 68, 24, 6]

In [37]:

"""
25. Filter out all even numbers from a list.
"""

l2 = [23,52,30,4,2,34,12,3]

l = [i for i in l2 if i %2 == 0]
print(l)

[52, 30, 4, 2, 34, 12]

In [38]:
"""
26. Convert a list of strings to a list of integers.
"""

string_list = ["1", "2", "3", "4", "5"]
integer_list = [ int(i) for i in string_list]
print(integer_list)

[1, 2, 3, 4, 5]

In [1]:
"""
27. Convert a list of integers to a list of strings.
"""

int_list = [23,1,42,45,23];
string_list = [str(i) for i in int_list]
print(string_list)

['23', '1', '42', '45', '23']

In [6]:
"""
28. Flatten a nested list.
"""

def flat(nested,flat_list=[]):
    for i in nested:
        if isinstance(i,list):
            flat(i)
        else:
            flat_list.append(i)
    return flat_list


nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]
flat_list = flat(nested_list)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
"""
29. Create a list of the first 10 Fibonacci numbers.
"""

a,b = 0,1
fib = [];
for i in range(10):
    fib.append(a)
    c= a+b
    a=b
    b=c
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [17]:
"""
30. Check if a list is sorted.
"""

def check_sorted(l):
    for i in range(1,len(l)):
        if l[i-1] > l[i]:
            return False;
    return True

l1 = [3,4,5,6,7,8]
l2 = [3,5,73,5,24,6]

print(check_sorted(l1))
print(check_sorted(l2))

True
False

In [25]:
"""
31. Rotate a list to the left by `n` positions.
"""

def rotate(l,pos):
    shift = pos%len(l)

    rotated_array = l[shift:] + l[:shift]
    return rotated_array

l = [3,5,73,5,24,6]

rotated = rotate(l,4)
print(rotated)

[24, 6, 3, 5, 73, 5]

In [35]:
"""
32. Rotate a list to the right by `n` positions.
"""

def rotate_right(l,pos):
    shift = pos%len(l)
    rotated = l[-shift:] + l[:-shift]
    return rotated

l = [3,5,73,5,24,6]

rotated = rotate_right(l,4)
print(rotated)

[73, 5, 24, 6, 3, 5]

In [42]:
"""
33. Create a list of prime numbers up to 50.
"""

count = 0;
num = 2
prime =[]
while count <50:
    for i in range(2,num//2):
        if num%i == 0:
            num+=1
            break
    else:
        prime.append(num)
        num+=1
        count+=1
    
    
print(prime)
print(len(prime))

[2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227]
50

In [45]:
"""
34. Split a list into chunks of size `n`.
"""
def split(l,n):
    chunks =[]
    for i in range(0,len(l),n):
        chunks.append(l[i:i+n])
    return chunks

l = [2,3,4,6,2,5,3,2,345,2,2345,42,34,3,42,1]

chunks = split(l,3)
print(chunks)

[[2, 3, 4], [6, 2, 5], [3, 2, 345], [2, 2345, 42], [34, 3, 42], [1]]

In [49]:
"""
35. Find the second largest number in a list.
"""

l = [3,53,2,2441,534,1,523,12]
l.sort()
print("second largest element is ",l[-2])

second largest element is  534

In [1]:
"""
36. Replace every element in a list with its square.
"""

l = [3,4,5,32,56,8]

l =[ i**2 for i in l]
print(l)

[9, 16, 25, 1024, 3136, 64]

In [2]:
"""
37. Convert a list to a dictionary where list elements become keys and their
indices become values.
"""

l = [3,4,5,32,56,8]
dic = {l[i] : i for i in range(len(l))}
print(dic)

{3: 0, 4: 1, 5: 2, 32: 3, 56: 4, 8: 5}

In [6]:
"""
38. Shuffle the elements of a list randomly.
"""
import random
l = [3,4,5,32,56,8]
print("Original List : ",l)
random.shuffle(l)
print("Shuffled list : ",l)

Original List :  [3, 4, 5, 32, 56, 8]
Shuffled list :  [5, 8, 3, 56, 4, 32]

In [7]:
"""
39. Create a list of the first 10 factorial numbers.
"""

def fact(n):
    if n<=1:
        return 1;
    return n*fact(n-1)

factorial = [ fact(i) for i in range(11)] # assuming first factorial to be (0!).
print(factorial)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [10]:
"""
40. Check if two lists have at least one element in common.
"""

l1 = [4,2,5,2,5,668,4,3]
l2 = [6,32,5,2,5,5325,334]

s1 = set(l1).intersection(set(l2))
if len(s1)>=1:
    print(True)
else:
    print(False)

True

In [11]:
"""
41. Remove all elements from a list.
"""

l1 = [4,2,5,2,5,668,4,3]
l1.clear()
print(l1)

[]

In [13]:
"""
42. Replace negative numbers in a list with 0.
"""

l = [4,2,5,-2,5,-668,4,-3]
l = [ 0 if i<0 else i for i in l]
print(l)

[4, 2, 5, 0, 5, 0, 4, 0]

In [14]:
"""
43. Convert a string into a list of words.
"""

s = "Convert a string into a list of words"
l = s.split()
print(l)

['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

In [16]:
"""
44. Convert a list of words into a string.
"""

l = ['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']
s =" ".join(l)
print(s)

Convert a string into a list of words

In [17]:
"""
45. Create a list of the first `n` powers of 2.
"""

def power_of_two(n):
    return [2**i for i in range(1,n+1)]

print(power_of_two(5))

[2, 4, 8, 16, 32]

In [20]:
"""
46. Find the longest string in a list of strings.
"""
l = ['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

longest = l[0];
for i in l:
    if len(i) > len(longest):
        longest = i
        
print("Longest string is : ",longest)

Longest string is :  Convert

In [21]:
"""
47. Find the shortest string in a list of strings.
"""

l = ['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

shortest = l[0];
for i in l:
    if len(i) < len(shortest):
        shortest = i
        
print("Longest string is : ",shortest)

Longest string is :  a

In [23]:
"""
48. Create a list of the first `n` triangular numbers.
"""

def triangular_number(n):
    return [i*(i+1)/2 for i in range(1,n+1)]
            
print(triangular_number(10))

[1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0, 55.0]

In [24]:
"""
49. Check if a list contains another list as a subsequence.
"""

def check(l):
    for i in l:
        if isinstance(i,list):
            return True;
    return False;

l = [23,4,5,324,46,34]
l2 = [3,4,252,[4,53,3],42,45,[6,4]]

print(check(l))
print(check(l2))

False
True

In [25]:
"""
50. Swap two elements in a list by their indices.
"""

def swap(l,i,j):
    temp = l[i];
    l[i] = l[j];
    l[j] = temp;
    return l

l = [2,4,56,7,3,32]

swap(l,2,5)

print(l)

[2, 4, 32, 7, 3, 56]

In [26]:
"""


Tuple Based Practice Problem :



"""

'\n\n\nTuple Based Practice Problem :\n\n\n\n'

In [28]:
"""
1. Create a tuple with integers from 1 to 5.
"""

t = tuple([ i for i in range(1,6)])
print(t)

(1, 2, 3, 4, 5)

In [30]:
"""
2. Access the third element of a tuple.
"""

t =(3,5,2,24,52)

print(t[2])

<class 'tuple'>
2

In [31]:
"""
3. Find the length of a tuple without using the `len()` function.

"""
t =(3,5,2,24,52)

length =  0;
for i in t:
    length+=1;
print("length of the tuple is : ",length)

length of the tuple is :  5

In [32]:
"""
4. Count the occurrences of an element in a tuple.
"""

t = (3,2,4,2,5,7,4,5,2,5,347,84,5)
print(t.count(2))

3

In [34]:
"""
5. Find the index of the first occurrence of an element in a tuple.
"""
t = (3,2,4,2,5,7,4,5,2,5,347,84,5)

print(t.index(2))

1

In [35]:
"""
6. Check if an element exists in a tuple.
"""

def exist(t,n):
    for i in t:
        if i == n:
            return True
        
    return False

t = (3,2,4,2,5,7,4,5,2,5,347,84,5)

print(exist(t,4))
print(exist(t,9))

True
False

In [37]:
"""
7. Convert a tuple to a list.
"""

t = (3,2,4,2,5,7,4,5,2,5,347,84,5)
l = list(t)
print(type(l))
print(l)

<class 'list'>
[3, 2, 4, 2, 5, 7, 4, 5, 2, 5, 347, 84, 5]

In [39]:
"""
8. Convert a list to a tuple.
"""

l = [23,5,2,4,2]
t = tuple(l)
print(t)
print(type(t))

(23, 5, 2, 4, 2)
<class 'tuple'>

In [1]:
"""
9. Unpack the elements of a tuple into variables.
"""

t = (34,2,1,3)

a,b,c,d = t
print("a : ",a,"b : ",b,"c : ",c,"d : ",d)

a :  34 b :  2 c :  1 d :  3

In [2]:
"""
10. Create a tuple of even numbers from 1 to 10.
"""
t = tuple([i for i in range(1,11) if i %2 ==0])
print(t)

(2, 4, 6, 8, 10)

In [3]:
"""
11. Create a tuple of odd numbers from 1 to 10.
"""

t = tuple([i for i in range(1,11) if i %2 !=0])
print(t)

(1, 3, 5, 7, 9)

In [5]:
"""
12. Concatenate two tuples.
"""

t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [7]:
"""
13. Repeat a tuple three times.
"""

t1 = (1,2,3)
print(t1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [9]:
"""
14. Check if a tuple is empty.
"""

def is_empty(t):
    if len(t) == 0:
        return True;
    return False;

t1 = (2,4,5)
t2 = ()
print(is_empty(t1))
print(is_empty(t2))

False
True

In [12]:
"""
15. Create a nested tuple.
""" 


t1 = (1,2,3)
t2 = (45,6,7)
t3 = (55,62,4)
t = (t1,t2,t3)

print(t)

((1, 2, 3), (45, 6, 7), (55, 62, 4))

In [13]:
"""
16. Access the first element of a nested tuple.
"""
t1 = (1,2,3)
t2 = (45,6,7)
t3 = (55,62,4)
t = (t1,t2,t3)

print(t[0])

(1, 2, 3)

In [15]:
"""
17. Create a tuple with a single element.
"""

t = (1,)
print(type(t))

<class 'tuple'>

In [17]:
"""
18. Compare two tuples.
"""
t1 = (1,2,3)
t2 = (45,6,7)
print(t1 == t2)
print(t1 != t2)
print(t1 <= t2)
print(t1 >= t2)
print(t1 > t2)
print(t1 < t2)

False
True
True
False
False
True

In [21]:
"""
19. Delete a tuple.
"""

t1 =(2,3,45)
del(t1)

In [23]:
"""
20. Slice a tuple.
"""

t = (3,4,5,64,342,1674,31)

print(t[2:5])

(5, 64, 342)

In [24]:
"""
21. Find the maximum value in a tuple.
"""

t = (3,4,5,64,342,1674,31)
print(max(t))

1674

In [25]:
"""
22. Find the minimum value in a tuple.
"""

t = (3,4,5,64,342,1674,31)
print(min(t))

3

In [31]:
"""
23. Convert a string to a tuple of characters.
"""

s = "string"
t = tuple([i for i in s])
print(t)

('s', 't', 'r', 'i', 'n', 'g')

In [34]:
"""
24. Convert a tuple of characters to a string.
"""

t = ('s', 't', 'r', 'i', 'n', 'g')
s = "".join(t)
print(s)

string

In [35]:
"""
25. Create a tuple from multiple data types.
"""

a = 2
b = "string"
c = 34.2
d = True

t = (a,b,c,d)
print(t)

(2, 'string', 34.2, True)

In [36]:
"""
26. Check if two tuples are identical.
"""
def identical(t1,t2):
    return t1 == t2

t1 = (3,2,5,64)
t2= (3,2,5,64)

t3 = (4,2,43)

print(identical(t1,t2))
print(identical(t2,t3))

True
False

In [39]:
"""
27. Sort the elements of a tuple.
"""

t = (5,3,63,36)
t1 = tuple(sorted(t))

print(t1)

(3, 5, 36, 63)

In [42]:
"""
28. Convert a tuple of integers to a tuple of strings.
"""
t = (5,3,63,36)

t1 = tuple(str(i) for i in t)

print(t1)

('5', '3', '63', '36')

In [1]:
"""
29. Convert a tuple of strings to a tuple of integers.
"""
t = ('5', '3', '63', '36')
t1= tuple(int(i) for i in t)
print(t1)

(5, 3, 63, 36)

In [2]:
"""
30. Merge two tuples.
"""

t1 = (2,3,4)
t2 = (5,6,7)

merged = t1+t2
print(merged)

(2, 3, 4, 5, 6, 7)

In [3]:
"""
31. Flatten a nested tuple.
"""

def tup_flat(t,temp = []):
    for i in t:
        if isinstance(i,tuple):
            tup_flat(i)
        else:
            temp.append(i)
    return tuple(temp)


t = (3,4,3,2,(4,5,67,8),34,(34,2241,114,(42,133,5,2,35),66))
t2 = tup_flat(t)
print(t2)

(3, 4, 3, 2, 4, 5, 67, 8, 34, 34, 2241, 114, 42, 133, 5, 2, 35, 66)

In [11]:
"""
32. Create a tuple of the first 5 prime numbers.
"""

def prime(n):
    count = 0
    num = 2
    l =[]
    while count <n:
        for i in range(2,num):
            if num%i == 0:
                break;
        else:
            l.append(num)
            count+=1;
        num+=1
        
    return tuple(l)

print(prime(5))

(2, 3, 5, 7, 11)

In [15]:
"""
33. Check if a tuple is a palindrome.
"""


def is_palindrome(t):
    for i in range(len(t)//2):
        if t[i] != t[-i-1]:
            return False
    else:
        return True
t = (1,2,3,4,5,5,4,3,2,1)
t1 = (23,31,42,41)
print(is_palindrome(t))
print(is_palindrome(t1))

True
False

In [18]:
"""
34. Create a tuple of squares of numbers from 1 to 5.
"""

t = tuple( i**2 for i in range(1,6))

print(t)

(1, 4, 9, 16, 25)

In [19]:
"""
35. Filter out all even numbers from a tuple.
"""

t = (3,4,2,5,6,2,645,85,66,95,4,53,99)

t1 = tuple(i for i in t if i%2 == 0)
print(t1)

(4, 2, 6, 2, 66, 4)

In [20]:
"""
36. Multiply all elements in a tuple by 2
"""

t = (23,43,2,1,24,5,61)


t1 = tuple(i *2 for i in t)
print(t1)

(46, 86, 4, 2, 48, 10, 122)

In [24]:
"""
37. Create a tuple of random numbers.
"""

import random

t = tuple(random.randint(1,50) for i in range(11))
print(t)

(27, 19, 32, 24, 50, 34, 18, 38, 19, 35, 1)

In [25]:
"""
38. Check if a tuple is sorted.
"""

def check_sorted(t):
    for i in range(1,len(t)):
        if t[i-1] > t[i] :
            return False
    return True

t1 = (3,34,1,412)
t2 = (3,4,5,67,99)
print(check_sorted(t1))
print(check_sorted(t2))

False
True

In [27]:
"""
39. Rotate a tuple to the left by `n` positions.
"""

def rotate_left(t,n):
    shift = n%len(t)
    rotated = t[shift:] + t[:shift]
    return rotated

t = (1,2,3,4,5,6,78)
print(rotate_left(t,3))

(4, 5, 6, 78, 1, 2, 3)

In [28]:
"""
40. Rotate a tuple to the right by `n` positions.
"""

def rotate_left(t,n):
    shift = n%len(t)
    rotated = t[-shift:] + t[:-shift]
    return rotated

t = (1,2,3,4,5,6,78)
print(rotate_left(t,3))

(5, 6, 78, 1, 2, 3, 4)

In [2]:
"""
41. Create a tuple of the first 5 Fibonacci numbers.
"""
a,b = 0,1
l = [0,1]
count = 2
while count < 5:
    c = a+b
    a=b
    b=c
    l.append(c)
    count+=1
print(tuple(l))

(0, 1, 1, 2, 3)

In [6]:
"""
42. Create a tuple from user input.
"""
length = int(input("Enter the length of the tuple"))
t = tuple(input() for i in range(length))
print(t)

Enter the length of the tuple 3
 1
 2
 3

('1', '2', '3')

In [7]:
"""
43. Swap two elements in a tuple.
"""
def swap(t,i,j):
    temp = list(t)
    
    temp[i],temp[j] = temp[j],temp[i]
    return tuple(temp)
    
t = (2,56,21,53,66)
print(swap(t,2,4))

(2, 56, 66, 53, 21)

In [11]:
"""
44. Reverse the elements of a tuple.
"""

t = (2,56,21,53,66)
print("original tuple : ",t)
l = list(t)
l1 = l[::-1]
t1= tuple(l1)

print("reversed tuple : ",t1)

original tuple :  (2, 56, 21, 53, 66)
reversed tuple :  (66, 53, 21, 56, 2)

In [13]:
"""
45. Create a tuple of the first `n` powers of 2.
"""

def power_of_two(n):
    t = tuple(2**i for i in range(1,n+1))
    return t
              
print(power_of_two(4))

(2, 4, 8, 16)

In [15]:
"""
46. Find the longest string in a tuple of strings.
"""

t = ("Find", "the", "longest", "string", "in", "a", "tuple","of", "strings")
longest = t[0]
for i in t:
    if len(i) > len(longest):
        longest = i
        
print("Longest string is : ",longest)

Longest string is :  longest

In [16]:
"""
47. Find the shortest string in a tuple of strings.

"""
t = ("Find", "the", "longest", "string", "in", "a", "tuple","of", "strings")

shortest = t[0]
for i in t:
    if len(i) < len(shortest):
        shortest = i
        
print("Shortest string is : ",shortest)

Shortest string is :  a

In [20]:
"""
48. Create a tuple of the first `n` triangular numbers.
"""

def triangular(n):
    l=[]
    num = 1
    count=0
    while count<n:
        l.append(num*(num+1)/2)
        num+=1
        count+=1
    return tuple(l)

print(triangular(5))

(1.0, 3.0, 6.0, 10.0, 15.0)

In [21]:
"""
49. Check if a tuple contains another tuple as a subsequence.
"""

def check_tuple(t):
    for i in t:
        if isinstance(i,tuple):
            return True
    else:
        return False
    
t1 = (3,4,5,6)
t2 = (3,4,5,6,(4,4,6,4),43)

print(check_tuple(t1))
print(check_tuple(t2))

False
True

In [23]:
"""
50. Create a tuple of alternating 1s and 0s of length `n`.

"""

def create_tuple(n):
    l = []
    i =1
    count=0
    while count <n:
        if i %2 != 0:
            l.append(0)
        else:
            l.append(1)
        count+=1
        i+=1
    return tuple(l)

print(create_tuple(5))

(0, 1, 0, 1, 0)

In [24]:
"""


Set Based Practice Problem :


"""

'\n\n\nSet Based Practice Problem :\n\n\n'

In [26]:
"""
1. Create a set with integers from 1 to 5.
"""

s = set(i for i in range(1,6))
print(s)

{1, 2, 3, 4, 5}
<class 'set'>

In [28]:
"""
2. Add an element to a set.

"""
s = {2,3,4,5}
s.add(99)
print(s)

{2, 99, 3, 4, 5}

In [30]:
"""
3. Remove an element from a set.
"""

s = {2, 99, 3, 4, 5}
s.remove(3)
print(s)

{2, 99, 4, 5}

In [33]:
"""
4. Check if an element exists in a set.
"""
def is_available(s,n):
    return n in s

s = {2, 99, 3, 4, 5}

print(is_available(s,4))
print(is_available(s,90))

True
False

In [34]:
"""
5. Find the length of a set without using the `len()` function.
"""

def length(s):
    count = 0;
    for i in s:
        count+=1
    return count

s = {3,4,5,7,8}
print(length(s))

5

In [35]:
"""
6. Clear all elements from a set.
"""
s = {3,4,5,7,8}
s.clear()
print(s)

set()

In [36]:
"""
7. Create a set of even numbers from 1 to 10.
"""

s= set(i for i in range(1,11) if i %2 == 0)
print(s)

{2, 4, 6, 8, 10}

In [37]:
"""
8. Create a set of odd numbers from 1 to 10.
"""

s = set(i for i in range(1,11) if i%2 != 0)
print(s)

{1, 3, 5, 7, 9}

In [38]:
"""
9. Find the union of two sets.
"""
s1 = {2, 4, 6, 8, 10}

s2 = {1, 3, 5, 7, 9}

s3 = s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
"""
10. Find the intersection of two sets.
"""

s1= {2,3,4,6,734,232}
s2 = {3,4,3,11,55}

print(s1.intersection(s2))

{3, 4}

In [40]:
"""
11. Find the difference between two sets.
"""

s1= {2,3,4,6,734,232}
s2 = {3,4,3,11,55}

print(s1.difference(s2))

{232, 2, 734, 6}

In [43]:
"""
12. Check if a set is a subset of another set.
"""
s1= {2,3,4,6,734,232}
s2 = {3,4,3,11,55}
s3 = {3,4,6}
print(s1.issubset(s2))
print(s3.issubset(s1))

False
True

In [45]:
"""
13. Check if a set is a superset of another set.
"""

s1= {2,3,4,6,734,232}
s2 = {3,4,3,11,55}
s3 = {3,4,6}

print(s1.issuperset(s2))
print(s1.issuperset(s3))

False
True

In [46]:
"""
14. Create a set from a list.
"""

l =[2,3,4,6,3]
s = set(l)
print(s)
print(type(s))

{2, 3, 4, 6}
<class 'set'>

In [48]:
"""
15. Convert a set to a list.
"""

s ={2, 3, 4, 6}

l =list(s)
print(l)
print(type(l))

[2, 3, 4, 6]
<class 'list'>

In [49]:
"""
16. Remove a random element from a set.
"""

s ={2, 3, 4, 6}
s.pop()
print(s)

{3, 4, 6}

In [50]:
"""
17. Pop an element from a set.
"""

s1= {2,3,4,6,734,232}
s1.pop()
print(s1)

{3, 4, 6, 232, 734}

In [53]:
"""
18. Check if two sets have no elements in common.
"""

def disjoint_set(s1,s2):
    return s1.isdisjoint(s2)
    
s1= {3,4,5,6,7}
s2 = {3,4,6,6,72}
s3 = {33,44,56,67}

print(disjoint_set(s1,s2))
print(disjoint_set(s1,s3))

False
True

In [2]:
"""
19. Find the symmetric difference between two sets.
"""
s1= {3,4,5,6,7}
s2 = {3,4,6,6,72}

s3 = s1.symmetric_difference(s2)
print(s3)

{5, 7, 72}

In [3]:
"""
20. Update a set with elements from another set.
"""

s1= {3,4,5,6,7}
s2 = {3,4,6,6,72}
s1.update(s2)
print(s1)

{3, 4, 5, 6, 7, 72}

In [4]:
"""

21. Create a set of the first 5 prime numbers.

"""

def prime(n):
    count = 0
    num = 2
    l =[]
    while count <n:
        for i in range(2,num):
            if num%i == 0:
                break;
        else:
            l.append(num)
            count+=1;
        num+=1
        
    return set(l)

print(prime(5))

{2, 3, 5, 7, 11}

In [5]:
"""
22. Check if two sets are identical.
"""

s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5}
s3 = {4,5,63}

print(s1 == s2)
print(s1 == s3)

True
False

In [7]:
"""
23. Create a frozen set.
"""
s1 = {1,2,3,4,5}
s2 = frozenset(s1)

print(type(s2))

<class 'frozenset'>

In [9]:
"""
24. Check if a set is disjoint with another set.
"""

s1 = {1,4,5}
s2 = {1,2,3}
s3 = {4,5,63}

print(s1.isdisjoint(s2))
print(s2.isdisjoint(s3))

False
True

In [11]:
"""
25. Create a set of squares of numbers from 1 to 5.
"""

s = set(i**2 for i in range(1,6))
print(s)

{1, 4, 9, 16, 25}

In [12]:
"""
26. Filter out all even numbers from a set.
"""

s = {1,2,3,4,5,6,7,8,9}
s2  = set( i for i in s if i%2 == 0)
print(s2)

{8, 2, 4, 6}

In [13]:
"""
27. Multiply all elements in a set by 2.
"""

s = {1,2,3,4,5,6,7,8,9}
s = set(i*2 for i in s )
print(s)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [15]:
"""
28. Create a set of random numbers.
"""
import random
s = set(random.randint(1,50) for i in range(11))
print(s)

{4, 5, 38, 7, 37, 46, 47, 17, 18, 21, 31}

In [17]:
"""
29. Check if a set is empty.
"""
def is_empty(s):
    return len(s) == 0
s1= set()
s2 = {24,42}

print(is_empty(s1))
print(is_empty(s2))

True
False

In [23]:
"""
30. Create a nested set (hint: use frozenset).
"""

s1 = frozenset({1,3,4,5})
s2 = frozenset({2,35,1,3})
nested = {s1,s2}
print(nested)

frozenset({frozenset({1, 3, 4, 5}), frozenset({1, 2, 3, 35})})

In [24]:
"""
31. Remove an element from a set using the discard method.
"""

s1 = {1,2,3,4,5,6}
s1.discard(4)
print(s1)

{1, 2, 3, 5, 6}

In [28]:
"""
32. Compare two sets.
"""

s1 = {1,4,5}
s2 = {1,2,3,4,5}

print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1 == s2)

False
True
False
False

In [29]:
"""
33. Create a set from a string.
"""

s = "string1"
set1 = set(i for i in s)
print(set1)

{'i', 'r', 't', 's', 'n', '1', 'g'}

In [33]:
"""
34. Convert a set of strings to a set of integers.
"""

string_set ={'4', '7', '3', '2', '6', '1', '5'}
integer_set = set(int(i )for i in string_set)
print(integer_set)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
"""
35. Convert a set of integers to a set of strings.
"""

integer_set = {1, 2, 3, 4, 5, 6, 7}
string_set = set(str(i) for i in integer_set)
print(string_set)

{'4', '7', '3', '2', '6', '1', '5'}

In [35]:
"""
36. Create a set from a tuple.
"""

t = (1,9,3,5,6,2,1)
s = set(t)
print(s)

{1, 2, 3, 5, 6, 9}

In [36]:
"""
37. Convert a set to a tuple.
"""
s = {1, 2, 3, 5, 6, 9}
t = tuple(s)
print(t)

(1, 2, 3, 5, 6, 9)

In [37]:
"""
38. Find the maximum value in a set.
"""
s = {1, 2, 3, 5, 6, 9}
print(max(s))

9

In [38]:
"""
39. Find the minimum value in a set.
"""

s = {1, 2, 3, 5, 6, 9}
print(min(s))

1

In [41]:
"""
40. Create a set from user input.
"""

length = int(input("Enter size of the set"))
s = set(input() for i in range(length))
print(s)

Enter size of the set 3
 2
 3
 4

{'2', '4', '3'}

In [43]:
"""
41. Check if the intersection of two sets is empty.

"""

s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {5,6,7,8}
print(s1.isdisjoint(s2))
print(s1.isdisjoint(s3))

False
True

In [46]:
"""
42. Create a set of the first 5 Fibonacci numbers.
"""

def fib(n):
    a,b = 0,1
    count = 2
    l = [0,1]
    while count <= n:
        c = a+b
        a = b
        b = c
        l.append(c)
        count+=1
    return set(l)

print(fib(5))

{0, 1, 2, 3, 5}

In [47]:
"""
43. Remove duplicates from a list using sets.
"""

l = [2,3,1,4,5,4,73,3,52,3]

s = set(l)
l = list(s)
print(l)

[1, 2, 3, 4, 5, 73, 52]

In [48]:
"""
44. Check if two sets have the same elements, regardless of their count.
"""

s1 = {1,2,3,4,5}
s2 = {3,2,1,4,5}
s3= {1,2,2,3,4,5,2,1}
print(s1 == s2)
print(s2 == s3)

True
True

In [50]:
"""
45. Create a set of the first `n` powers of 2.
"""

def power_of_two(n):
    return set(2**i for i in range(1,n+1))

print(power_of_two(5))

{32, 2, 4, 8, 16}

In [51]:
"""
46. Find the common elements between a set and a list.
"""

l = [1,2,3,5,3,2,2]
s = {3,4,6,7,33}

common = s.intersection(set(l))
print(common)

{3}

In [53]:
"""
47. Create a set of the first `n` triangular numbers.
"""

def triangular(n):
    return set(i*(i+1)/2 for i in range(1,n+1))
               
print(triangular(5))

{1.0, 3.0, 6.0, 10.0, 15.0}

In [55]:
"""
48. Check if a set contains another set as a subset.
"""

s1= {1,2,3,4}
s2 = {6,3,2,12,1,4,9}

s3 = {4,2,5,2}

print(s1.issubset(s2))
print(s3.issubset(s1))

True
False

In [56]:
"""
49. Create a set of alternating 1s and 0s of length `n`.
"""

def alter_0_1(n):
    return set(0 if i%2 == 0 else 1 for i in range(n))

print(alter_0_1(10))

{0, 1}

In [57]:
"""
50. Merge multiple sets into one.
"""

s1= {1,2,3,4}
s2 = {6,3,2,12,1,4,9}

s3 = {4,2,5,2}

s = s1.union(s2,s3)
print(s)

{1, 2, 3, 4, 5, 6, 9, 12}